[DEFAULT]
#ootwrap_config = /etc/cinder/rootwrap.conf
#pi_paste_confg = /etc/cinder/api-paste.ini
#iscsi_helper = tgtadm
#volume_name_template = volume-%s
#volume_group = cinder-volumes
verbose = True
#auth_strategy = keystone
#state_path = /var/lib/cinder
#lock_path = /var/lock/cinder
#volumes_dir = /var/lib/cinder/volumes

rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = tgtadm
volume_name_template = volume-%s
volume_group = cinder-volumes
verbose = True
auth_strategy = keystone
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
rpc_backend = cinder.openstack.common.rpc.impl_kombu
rabbit_host = {{ ansible_eth0['ipv4']['address'] }}
rabbit_port = 5672
rabbit_userid = guest
rabbit_password = guest
glance_host = {{ ansible_eth0['ipv4']['address'] }}

[database]
connection = mysql://cinder:cinder_dbpass@{{ ansible_eth0['ipv4']['address'] }}/cinder

[keystone_authtoken]
auth_uri = http://{{ ansible_eth0['ipv4']['address'] }}:5000
auth_host = {{ ansible_eth0['ipv4']['address'] }}
auth_port = 35357
auth_protocol = http
admin_tenant_name = service
admin_user = cinder
admin_password = cinder_pass
